@font-face {
				font-family: 'Mulish';
				font-style: normal;
				font-weight: 700;
				font-display: swap;
				src: url(//bizweb.dktcdn.net/100/491/756/themes/956460/assets/mulish-semibold.ttf?1727322818159) format('truetype');
			}
@font-face {
				font-family: 'Mulish';
				font-style: normal;
				font-weight: 800;
				font-display: swap;
				src: url(//bizweb.dktcdn.net/100/491/756/themes/956460/assets/mulish-semibold.ttf?1727322818159) format('truetype');
			}